# Python virtual environment
.venv/
venv/
ENV/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE / OS settings
.vscode/*
!.vscode/settings.json
.DS_Store
Thumbs.db

# Project logs
*.log
